<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog details</title>
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
</head>
<body>
    <nav class="menu navbar navbar-expand-md bg-info navbar-light">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Flawless Grounds</a>
      <!-- Navbar links -->
      <div class="menu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog_details">Blog details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Welcome -->
    <div>
        <h4 class="tit1">
            WELCOME TO FLAWLESS GROUNDS BOOKING SERVICES <br><br>
        …the perfect facility for your CONFERENCE, SEMINAR, WEDDING, BRIDAL or BABY SHOWER, <br><br>
            ANNIVERSARY, PARTY or EVENT!
        </h4>
        <p>
            Whatever the size or scope of your event, our team will handle and manage all your requirements to make sure it’s a remarkable success!
            We are also equipped to handle your <br>
            accommodation needs with our newly renovated Garden Venue Boutique Hotel.
        </p>
    </div>
    <div>
        <div class="img1">
            <img src="../static/images/slide1-01.jpg" height="300" width="650" alt="IMG1">
        <h5>Image 1. Wedding</h5>
            <p>The Garden Venue serves as a superb wedding ceremony <br>
                and reception location, bringing the beauty of the outdoors <br>
                inside. Offering freedom of choice with multiple reception and <br>
                ceremony rooms and spaces we offer boutique wedding services <br>
                and packages. We take pleasure in presenting our distinctive <br>
                wedding solutions to you to fullfil your unique requirements. <br>
                Our team of wedding planners, can assist you in planning your <br>
                perfect magical day. Your wedding is important to us, no matter <br>
                how big or how small. We appreciate the importance of your special <br>
                day and would like to make it as memorable as possible for you.</p>
        </div>

        <div class="img2">
            <img src="../static/images/wedding.jpg" height="300" width="650" alt="IMG2">
        <h5>Image 2. Wedding</h5>
            <p>The charmingly landscaped gardens with romantic interludes <br>
                offer perfect outdoor wedding ceremony venues that are set <br>
                amongst magical surroundings offering the ideal complement <br>
                to the indoor reception banqueting venues that lead out to <br>
                the surrounding cascading ponds and flawlessly manicured lawns. <br>
                Whether your ceremony is on a raised pavilion over cascades, <br>
                or a secluded wedding ceremony, or is on rolling lawns below <br>
                the tall trees of the outdoors or an alfresco picnic reception <br>
                or garden luncheon, or a romantic sit-down indoor reception, <br>
                The Garden Venue is certainly the perfect backdrop for your event</p>
        </div>

        <div class="img3">
            <img src="../static/images/party.jpg" height="300" width="650" alt="IMG3">
        <h5>Image 3. Party</h5>
            <p>Stunning outdoor spaces such as the Koi Pond Pavilion or <br>
                indoor function rooms like the thatched Olive Tree Hide <br>
                offers unforgettable picturesque settings set alongside <br>
                magnificent koi ponds that boasts panoramic sunsets <br>
                that are made for memorable party celebrations. <br>
                Our multiple function spaces can accommodate parties <br>
                of 12 to 300 guests. Our party planners are available <br>
                to assist you in planning your exceptional event, <br>
                whether it’s a relaxed outside tea party under <br>
                the trees or a formal lavish indoor banquet.</p>
        </div>

        <div class="img4">
            <img src="../static/images/conference.jpg" height="300" width="650" alt="IMG4">
        <h5>Image 4. Conference</h5>
            <p>The Garden Venue in Randburg, is the perfect corporate <br>
                events venue. We offer 14 indoor and outdoor conference <br>
                venues and team building spaces for all types of <br>
                corporate functions. Hosting from 6 to 600 delegates <br>
                surrounded by beautiful gardens, floating decks <br>
                and cascading ponds. Our function solutions include <br>
                *Venue hire *Catering <br>
                *Bar *Décor *Audio <br>
                *visual *Accommodation <br>
                *Entertainment</p>
        </div>

        <div class="img5">
            <img src="../static/images/party1.jpg" height="300" width="650" alt="IMG5">
        <h5>Image 5. Party or Events</h5>
        </div>

        <div class="img6">
            <img src="../static/images/events.jpg" height="300" width="650" alt="IMG6">
        <h5>Image 6. Meetings</h5>
        </div>

        <div class="img7">
            <img src="../static/images/wed.jpg" height="300" width="650" alt="IMG7">
        <h5>Image 7. Wedding</h5>
        </div>

        <div class="img8">
            <img src="../static/images/baby.jpg" height="300" width="650" alt="IMG8">
        <h5>Image 8. Baby Shower</h5>
        </div>

        <div class="img9">
            <img src="../static/images/event1.jpg" height="300" width="650" alt="IMG9">
        <h5>Image 9. Party or Events</h5>
        </div>

        <div class="img10">
            <img src="../static/images/xmass.jpg" height="300" width="650" alt="IMG10">
        <h5>Image 10. Chrismas Party</h5>
        </div>

        <div class="img11">
            <img src="../static/images/xmass1.jpg" height="300" width="650" alt="IMG11">
        <h5>Image 11. X-mass Party</h5>
        </div>

        <div class="img12">
            <img src="../static/images/foods.jpg" height="300" width="650" alt="IMG12">
        <h5>Image 12. meals</h5>
        </div>

    </div>
</body>
</html>