<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
  <style>
    body{
      background-color: #d6e7d3;
    }
    button{
      background-color: #f74349;
      color: #eff78f;
      width: 130px;
      height: 30px;
      font-weight: bold;
      font-style: italic;
      border-radius: 15px;
      border: unset;
    }
    h5{
      text-align: center;
    }
    .courses{
      text-align: center;
    }
    .package{
      background-color: #9c87d5;
    }
    .anroid{
      background-color: #b2f797;
      float: left;
      text-align: center;
      width: 300px;
      height: 200px;
    }
    .python{
      background-color: #b2f797;
      float: left;
      text-align: center;
      width: 300px;
      height: 200px;
    }
    .fss{
      background-color: #b2f797;
      float: left;
      text-align: center;
      width: 250px;
      height: 200px;
    }
    .dataScience{
      background-color: #b2f797;
      text-align: center;
      float: left;
      width: 400px;
      height: 200px;
    }
  </style>
</head>
<body>
  <div>
    <h5> <mark>MOBILE</mark> INNOVATION <mark>ENTREPRENEURSHIP</mark> @eMobilis</h5>
    <hr>
    <button>HOME</button>
    <button>ABOUT US</button>
    <button>ACTIVITIES</button>
    <button>CONTACT US</button>
    <button>COURSES</button>
    <button>INTAKES</button>
    <button>MOBIGIRLZ</button>
    <button>AJIRA DIGITAL</button>
    <button>ELEARNING</button>
    <button>STUDENTS PORTAL</button>
    <hr>
  </div>
    <h2>WE HAVE TRAINED THE BEST AND FOR COMPANIES LIKE</h2>
    <p>No matter what your background is, you can learn skills that employers and clients need.
      Web and App developers earn $64000 per year <br> on average, making it one of the highest
      paying jobs that does not require a college degree.</p>
  <div class="package">
    <h2 class="courses">POPULAR COURSES</h2>
    <div class="anroid">
      <h4>Anroid</h4>
      <p>Do you want to make the next application like
      uber or instagram? Anroid course will take you
      from a novice to a pro in creating mobile apps. </p>
    </div>
    <div class="fss">
      <h4>full stack Software <br>Development</h4>
      <p>Learn the whole stack, from creating stunning websites to building awesome mobile applications
      and developin g powerful backend to power web applications</p>
    </div>
    <div class="python">
      <h4>Python</h4>
      <p>Explore what it means to store and manipulate data make decisions with your program, and
      leverage the power of python.</p>
    </div>
    <div class="dataScience">
      <h4>Data Science</h4>
      <p>Our course was developed by experts to deliver hands on skills in data analysis, modelling,
      visualisation and machine learning concept</p>
    </div>
  </div>

  <div>
    <h2>GET IN TOUCH</h2>
    <P>Join our mailing list and get upto date with latest on news scholarships and free boot camps</P>
    <button>REGISTER</button>
    <H2>FOLLOW US</H2>
    <H2>RESOURCES AND INFO</H2>
    <P>About us <br> Boot Camps <br> News <br> Events <br></P>
    <H2>SUPPORT</H2>
  </div>
</body>
</html>
<--
        <hr>
        <!-- Welcome -->
        <section class="section-welcome bg1-pattern p-t-120 p-b-105">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 p-t-45 p-b-30">
                        <div class="wrap-text-welcome t-center">
                            <span class="tit1 t-center" >
                                *********************Akings Grounds Booking Services*****************
                            </span>
                            <div class="col-md-6 p-b-30">
                                <div class="size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                                    <img src="../static/images/slide1-01.jpg" alt="IMG-OUR">
                                </div>
                            </div>
                            <h3 class="tit2 t-center m-b-35 m-t-5">
                                Welcome
                            </h3>
                            <div class="welcome">
                            <p>
                                …the perfect facility for your CONFERENCE, SEMINAR, WEDDING, BRIDAL or BABY SHOWER, ANNIVERSARY, PARTY or EVENT!<br>
                                Whatever the size or scope of your event, our team will handle and manage all your requirements to make sure it’s a remarkable success!
                                We are also equipped to handle your accommodation needs with our newly renovated Garden Venue Boutique Hotel.
                            </p>

                            <a class="txt4">
                                Our Story
                                <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <!-- Intro -->
        <section class="section-intro">
            <div class="content-intro bg-white p-t-77 p-b-133">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 p-t-30">
                            <!-- Block1 -->
                            <div class="blo1">
                                <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                                    <a href="#"><img src="../static/images/intro-01.jpg" alt="IMG-INTRO"></a>
                                </div>

                                <div class="wrap-text-blo1 p-t-35">
                                    <a href="#"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                        Make Sweet Memories
                                    </h4></a>

                                    <p class="m-b-20">
                                        The Flawless Garden Venue helps You Locate The Best And Conducive Venue For Any Event.
                                    </p>

                                    <a href="#" class="txt4">
                                        Learn More
                                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="col-md-4 p-t-30">
                            <!-- Block1 -->
                            <div class="blo1">
                                <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                                    <a href="#"><img src="../static/images/wed.jpg" alt="IMG-INTRO"></a>
                                </div>

                                <div class="wrap-text-blo1 p-t-35">
                                    <a href="#"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                        Weddings
                                    </h4></a>

                                    <p class="m-b-20">
                                        The Flawless Garden Venue serves as the perfect wedding venue. The charmingly landscaped gardens
                                        with romantic interludes offer grand outdoor wedding ceremony venues that are set
                                        amongst magical surroundings offering the ideal complement to
                                        the indoor reception banqueting venues.
                                    </p>

                                    <a href="#" class="txt4">
                                        Learn More
                                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4 p-t-30">
                            <!-- Block1 -->
                            <div class="blo1">
                                <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                                    <a href="#"><img src="../static/images/baby.jpg" alt="IMG-INTRO"></a>
                                </div>

                                <div class="wrap-text-blo1 p-t-35">
                                    <a href="#"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                        Baby Showers
                                    </h4></a>

                                    <p class="m-b-20">
                                        Our party spaces can accommodate parties of 12 to 300 guests.
                                        Our baby shower party planners are available to assist you in planning your
                                        exceptional event, whether it’s a relaxed outside high tea under the trees,
                                        a formal lavish indoor dinner, or on a raised pavilion over cascades,
                                        or is on rolling lawns of the outdoors or an alfresco picnic or garden luncheon,
                                        The Garden Venue is certainly the perfect backdrop to host your cherished day.
                                    </p>

                                    <a href="#" class="txt4">
                                        Learn More
                                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4 p-t-30">
                            <!-- Block1 -->
                            <div class="blo1">
                                <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                                    <a href="#"><img src="../static/images/party1.jpg" alt="IMG-INTRO"></a>
                                </div>

                                <div class="wrap-text-blo1 p-t-35">
                                    <a href="#"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                        Parties
                                    </h4></a>

                                    <p class="m-b-20">
                                        Stunning outdoor spaces such as the Koi Pond Pavilion or indoor function rooms like the thatched Olive
                                        Tree Hide offers unforgettable picturesque settings set alongside magnificent koi ponds
                                        that boasts panoramic sunsets that are made for memorable party celebrations.
                                        Our multiple function spaces can accommodate parties of 12 to 300 guests. Our party
                                        planners are available to assist you in planning
                                        your exceptional event, whether it’s a relaxed outside tea party under the trees
                                        or a formal lavish indoor banquet.
                                    </p>

                                    <a href="#" class="txt4">
                                        Learn More
                                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 p-t-30">
                            <!-- Block1 -->
                            <div class="blo1">
                                <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                                    <a href="#"><img src="../static/images/intro-05.jpg" alt="IMG-INTRO"></a>
                                </div>

                                <div class="wrap-text-blo1 p-t-35">
                                    <a href="#"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                        Conference and Meetings
                                    </h4></a>

                                    <p class="m-b-20">
                                        The Flawless Garden Venue also serves as the ideal conference centre and event space,
                                        boasting well-appointed conference and meeting rooms, ranging from intimate
                                        board rooms that can comfortably accommodate 12 delegates through to our conference
                                        hall that can seat up to 150 delegates.
                                    </p>

                                    <a href="#" class="txt4">
                                        Learn More
                                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section> -->