<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
</head>
<body>
    <nav class="menu navbar navbar-expand-md bg-info navbar-light">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Flawless Grounds</a>
      <!-- Navbar links -->
      <div class="menu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog_details">Blog details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
        <h4 class="tit1">
            WELCOME TO FLAWLESS GROUNDS BOOKING SERVICES <br><br>
        …the perfect facility for your CONFERENCE, SEMINAR, WEDDING, BRIDAL or BABY SHOWER, <br><br>
            ANNIVERSARY, PARTY or EVENT!
        </h4>
        <p>
            Whatever the size or scope of your event, our team will handle and manage all your requirements to make sure it’s a remarkable success!
            We are also equipped to handle your <br>
            accommodation needs with our newly renovated Garden Venue Boutique Hotel.
        </p>
    </div>
    <section>
    <!--login form-->
        <div class="row">
            <h5 class="alert">PLEASE LOGIN HERE!!</h5>
            <div class="container">
                <form action="" method="post">
                    <div class="form-group">
                        <input name="x" type="email" class="form-control" placeholder="Email">
                    </div>
                     <div class="form-group">
                        <input name="y" type="password" class="form-control" placeholder="password">
                    </div>
                     <div class="form-group">
                        <input type="submit" class="btn btn-outline-info btn-block" value="Login">
                    </div>
                    <a href="/register" class="btn btn-outline-success btn-block" >Sign up</a>
                </form>
            </div>
        </div>
    </section>
    <div class="winfo">
        <h4 class="tit2">
            WEDDING RECEPTIONS
        </h4>
        <img src="/static/images/wedding.jpg" height="250" width="400" alt="wedding img">
        <p>The Garden Venue serves as the perfect wedding venue. <br>
            The charmingly landscaped gardens with romantic <br>
            interludes offer grand outdoor wedding ceremony <br>
            venues that are set amongst magical surroundings <br>
            offering the ideal complement to the indoor reception <br>
            banqueting venues.</p>
    </div>
    <div class="conf">
        <h4 class="tit2">
            CONFERENCE & EVENTS
        </h4>
        <img src="/static/images/events.jpg" height="250" width="450" alt="conference img">
        <p>The Garden Venue also serves as the ideal conference<br>
            centre and event space, boasting well-appointed <br>
            conference and meeting rooms, ranging from intimate <br>
            board rooms that can comfortably accommodate 12 <br>
            delegates through to our conference hall that can seat <br>
            up to 150 delegates.</p>
    </div>
    <div class="party">
        <h4 class="tit2">
            PARTIES & FUNCTIONS
        </h4>
        <img src="/static/images/party.jpg" height="250" width="450" alt="party img">
        <p>In addition to weddings and conferences, The Garden <br>
            Venue has also become exceedingly popular as the venue <br>
            of choice to celebrate your party. This includes <br>
            birthdays, bridal showers, baby showers, anniversaries, <br>
            matric dance, braais, kiddie’s parties, high teas, <br>
            Christmas functions and year end functions</p>
    </div>
    <section>
    <!-- Footer -->
	<footer>
            <div class="contact">
                <h5>
                    Contact Us
                </h5>
                <p class="footer">
                    <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                    5th floor, Business Centre, <br>Mfangano street, <br>Nairobi, BOX 10072
                    <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                    (+254) 76 892 474 <br>
                    <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                    akings@gmail.com
                </p>
            </div>
            <div class="time">
                <h5>
                    Opening Times
                </h5>

                <ul>
                    <li>
                        07:30 AM – 11:00 PM
                    </li>

                    <li>
                        Every Day
                    </li>
                </ul>
            </div>
            <div class="twitter">
                <h4>
                    Latest twitter
                </h4>
                    <span>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </span>
                    <a href="#">@akings</a>
                    <p>
                        Active is a good option. It has a slider built into that displays
                        <a href="#" class="txt15">https://twitter.com/akings</a>
                    </p>

                    <span class="txt16">
                        01 AUG 2021
                    </span>
			</div>
    <nav class="menu navbar navbar-expand-md bg-info navbar-light">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Flawless Grounds</a>
        <div>
            <a href="#" class="fs-15 c-white"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
            <a href="#" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
            <a href="#" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
        </div>

        <div>
            Copyright &copy; 2021 All rights reserved  | by <a href="https://akings.com" target="_blank">Akings</a>
        </div>
    </nav>
    </footer>
</body>
</html>